<div class="container">
  <div class="row">
    <div class="col">
      <h1>Create a new pet</h1>

      <%#= form_for @pet do |f| %>
        <%#= f.label :name %>
        <%#= f.text_field :name %>

        <%#= f.label :address %>
        <%#= f.text_field :address %>

        <%#= f.label :species %>
        <%#= f.select :species, collection: Pet::SPECIES %>

        <%#= f.label :found_on %>
        <%#= f.date_field :found_on %>

        <%#= f.submit %>
      <%# end %>

      <%= simple_form_for @pet do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :species, collection: Pet::SPECIES %>
        <%= f.input :found_on %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
